.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-1 {
  background-color: #ffffff ;
  /* Green */
  color: black;
  text-align: center;
  font-size: xx-large;
  font-family: Arial;
}



.bg-2 {
  background-color:darkred ;
  /* Dark Blue */
  color: #ffffff;
  text-align: center;
  font-size: xx-large;
  font-family: Arial;
}

.bg-3 {
  background-color: white;
  /* White */
  color: #555555;
  text-align: center;
  font-size: xx-large;
  font-family: Arial;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}

.myButton {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

.myButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.img-strength {
  /* BAD PRACTICE! */
  max-height: 200px;
}

.img-hero {
  width: 50px;
  height: 50px;
}

.img-circle {
  border-radius: 50%;
}

p {font-size: 16px;}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 